<button pButton type="button" icon="pi pi-plus" label="New" (click)="addNew()"></button>
<div class="card">
  <p-table [value]="bindings" [paginator]="true" [rows]="20"
           [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="keyword">
          Keyword
          <p-sortIcon field="keyword"></p-sortIcon>
        </th>
        <th pSortableColumn="transactionType">
          TransactionType
          <p-sortIcon field="transactionType"></p-sortIcon>
        </th>
        <th pSortableColumn="category">
          Category
          <p-sortIcon field="category"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-binding>
      <tr>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-text p-button-rounded p-button-sm"
            (click)="onEdit(binding)">
          </button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-text p-button-danger p-button-sm p-button-rounded"
            (click)="onDelete(binding)">
          </button>
        </td>
        <td>{{ binding.keyword }}</td>
        <td>{{ binding.transactionType }}</td>
        <td>{{ binding.category }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog />
