<form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">

  <div class="grid">
    <div class="field col-12">
      <label for="typeId">Transaction type</label>
      <p-dropdown
        [options]="transactionTypes"
        optionLabel="name"
        optionValue="id"
        formControlName="typeId"
        appendTo="body">
      </p-dropdown>
    </div>

    <div class="field col-12">
      <label for="amount">Amount</label>
      <p-inputNumber
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        formControlName="amount">
      </p-inputNumber>
    </div>

    <div class="field col-12">
      <label for="transactionTime">Date & Time</label>
      <p-calendar
        formControlName="transactionTime"
        [showTime]="true"
        [hourFormat]="'24'"
        appendTo="body">
      </p-calendar>
    </div>

    <div class="field col-12">
      <label for="description">Description</label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
    </div>

    <div class="field col-12">
      <label for="typeId">Category</label>
      <p-dropdown
        [options]="categories"
        optionLabel="name"
        optionValue="id"
        formControlName="categoryId"
        appendTo="body">
      </p-dropdown>
    </div>

  </div>

  <button pButton type="submit" label="Save" class="w-auto p-button-success"></button>
  <button pButton type="button" label="Close" class="w-auto ml-1 p-button-secondary" (click)="close()"></button>

</form>
