<form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">

  <div class="grid">
    <div class="field col-12">
      <label for="keyword">Keyword</label>
      <input
        pInputText
        id="keyword"
        name="keyword"
        formControlName="keyword"/>
    </div>

    <div class="field col-12">
      <label for="transactionTypeId">Transaction type</label>
      <p-dropdown
        [options]="transactionTypes"
        optionLabel="name"
        optionValue="id"
        formControlName="transactionTypeId"
        appendTo="body">
      </p-dropdown>
    </div>

    <div class="field col-12">
      <label for="categoryId">Category</label>
      <p-dropdown
        [options]="categories"
        optionLabel="name"
        optionValue="id"
        formControlName="categoryId"
        appendTo="body">
      </p-dropdown>
    </div>
  </div>

  <button pButton type="submit" label="Save" class="w-auto mr-1 p-button-success"></button>
  <button pButton type="button" label="Cancel" class="w-auto mr-1 p-button-secondary" (click)="close()"></button>

</form>
