<div class="card">
  <p-table #transactionGrid [value]="transactions"
           sortField="transactionTime" [sortOrder]="-1"
           [paginator]="true" [rows]="20"
           [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="type">
          Transaction type
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="categoryNames">
          Category
          <p-sortIcon field="categoryNames"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="transactionTime">
          Date
          <p-sortIcon field="transactionTime"></p-sortIcon>
        </th>
        <th pSortableColumn="amount">
          Amount
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th>
          <div class="action-buttons">
            <button pButton pTooltip="New" type="button" icon="pi pi-plus" class="mr-1 p-button-s p-button-rounded p-button-text" (click)="addNew()"></button>
            <button pButton pTooltip="Import" type="button" icon="pi pi-upload" class="mr-1 p-button-sm p-button-rounded p-button-text" (click)="import()"></button>
          </div>
        </th>
        <th>
          <p-columnFilter field="type" matchMode="equals" display="row" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [options]="transactionTypes"
                optionLabel="name"
                optionValue="name"
                [showClear]="true"
                (onChange)="filter($event.value)"
                appendTo="body">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="categories" matchMode="categoryIdFilter" display="row">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [options]="categories"
                optionLabel="distinctName"
                optionValue="id"
                [showClear]="true"
                (onChange)="filter($event.value)"
                appendTo="body">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="transactionTime"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="amount" [matchModeOptions]="amountMatchModeOptions">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-inputNumber
                [showButtons]="false"
                (onInput)="filter($event.value)">
              </p-inputNumber>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>
          <div class="action-buttons">
            <button
              pButton
              pTooltip="Edit"
              type="button"
              icon="pi pi-pencil"
              class="p-button-text p-button-rounded p-button-sm"
              (click)="onEdit(transaction)">
            </button>
            <button
              pButton
              pTooltip="Delete"
              type="button"
              icon="pi pi-trash"
              class="p-button-text p-button-rounded p-button-sm p-button-danger"
              (click)="onDelete(transaction)">
            </button>
          </div>
        </td>
        <td>{{ transaction.type }}</td>
        <td>
          <p-tag
            *ngFor="let category of transaction.categories"
            [pTooltip]="category.description"
            tooltipPosition="top"
            [value]="category.name"
            [severity]="getSeverity(transaction)"
            class="mr-1">
          </p-tag>
        </td>
        <td>{{ transaction.description }}</td>
        <td [pTooltip]="getFullDate(transaction.transactionTime)" tooltipPosition="left">
          {{ transaction.transactionTime | date:'longDate' }}
        </td>
        <td>{{ transaction.amount | currency: 'EUR':'symbol' }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Balance:</b></td>
        <td>{{ balance | currency: 'EUR':'symbol' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog />
