<button pButton type="button" label="New" icon="pi pi-plus" (click)="addNew()"></button>
<div class="card">
  <p-table [value]="transactions" sortField="transactionTime" [sortOrder]="-1" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="type">
          Transaction type
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="transactionTime">
          Date & Time
          <p-sortIcon field="transactionTime"></p-sortIcon>
        </th>
        <th pSortableColumn="amount">
          Amount
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.transactionTime | date:'EEEE, MMMM dd, y, h:mm a' }}</td>
        <td>{{ transaction.amount | number: '1.2-2' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td></td>
        <td></td>
        <td><b>Balance:</b></td>
        <td>{{ balance | number: '1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
