:host ::ng-deep .p-datatable thead tr:nth-child(2) th
  padding: 0.25rem 0.5rem

:host ::ng-deep .p-column-filter
  margin: 0

:host ::ng-deep .p-inputtext
  height: 2rem
  padding: 0.25rem 0.5rem
  font-size: 0.85rem

:host ::ng-deep .p-dropdown,
:host ::ng-deep .p-multiselect
  height: 2rem

:host ::ng-deep .p-dropdown .p-dropdown-label,
:host ::ng-deep .p-multiselect .p-multiselect-label
  padding: 0.25rem 0.5rem
  font-size: 0.85rem

:host ::ng-deep .p-column-filter-element
  width: 100%
