/* You can add global styles to this file, and also import other style files */
.action-buttons
  display: flex
  gap: 0.25rem
  flex-wrap: nowrap

tr.header-filter-row > th
  input,
  .p-dropdown,
  .p-multiselect
    height: 2rem


tr.header-filter-row > th
  .p-dropdown-label,
  .p-multiselect-label,
  .p-inputtext
    font-size: 0.85rem
    padding: 0.5rem

tr.header-filter-row > th
  padding: 0
